src/main/mule/eapi-payroll.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <http:listener-config name="eapi-payroll-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="eapi-payroll-config" api="resource::57ff980c-d7f4-4cd4-8021-7c30713503c2:sapi-payroll:1.0.5:raml:zip:eapi-payroll.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="93a896f8-092c-4198-afe1-8d7251a03792" >
		<db:generic-connection url="jdbc:postgresql://155.133.26.236:5432/vigneshwar_trainee" driverClassName="org.postgresql.Driver" user="dwinsoft_trainee" password="Good@123K" />
	</db:config>
	<flow name="eapi-payroll-main" doc:id="d2c3ad62-f849-460a-8f9e-f767446701bc">
        <http:listener config-ref="eapi-payroll-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="eapi-payroll-config" />
		<error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\employees:application\json:eapi-payroll-config">
        <logger level="INFO" doc:name="Logger" doc:id="23930b4e-3081-4a55-8a1b-e6bb3a82825e" message="start logger"/>
		<db:update doc:name="Update" doc:id="85f8b887-5d40-4802-b4e9-4ea703257232" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE employees
SET 
    employeename = :employeename,
    age = :age,
    designation = :designation,
    department = :department,
    salary = :salary,
    address = :address
WHERE
    employeeid = :employeeid;
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	employeeid : payload.employeeid,
	employeename : payload.employeename,
	age : payload.age,
	designation : payload.designation,
	department : payload.department,
	salary : payload.salary,
	address : payload.address
	}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  updateexample: {
    status: "Success",
    message: "Employee record updated successfully"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="27b59bd6-96bd-4de8-8c8a-d285f16a5a6a" message="end logger"/>
    </flow>
    <flow name="delete:\employees:application\json:eapi-payroll-config">
        <logger level="INFO" doc:name="Logger" doc:id="39ff894f-8903-4375-8af6-2d3e21d42de4" message="start logger"/>
		<db:delete doc:name="Delete" doc:id="29f298f7-5781-4677-a147-3c3127446510" config-ref="Database_Config">
			<db:sql ><![CDATA[DELETE FROM employees
WHERE employeeid = :employeeid;
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	employeeid : payload.employeeid
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  deleteexample: {
    status: "Success",
    message: "Employee record deleted successfully"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d89aa45a-b4fe-475c-9e06-e73e2706d93b" message="end logger"/>
    </flow>
    <flow name="post:\employees:application\json:eapi-payroll-config">
        <logger level="INFO" doc:name="Logger" doc:id="d7f260b9-7023-4d19-b3bb-7761045146a5" message="start logger"/>
		<db:insert doc:name="Insert" doc:id="683b3c8a-7433-475a-b84f-742b86e2bf49" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO employees (employeeid, employeename, age, designation, department, salary, address)
VALUES (:employeeid,:employeename,:age,:designation,:department,:salary,:address);
]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	employeeid : payload.employeeid,
	employeename : payload.employeename,
	age : payload.age,
	designation : payload.designation,
	department : payload.department,
	salary : payload.salary,
	address : payload.address
	}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "post.example": {
    status: "Success",
    message: "Employee record inserted successfully"
  }
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e2fa4c92-16e5-44cb-9322-b7b15a9739df" message="end logger"/>
    </flow>
</mule>
